* {
  margin: 0;
  padding: 0;
}
html {
}
body {
  background-color: #ffffff;

  background: radial-gradient(
      circle,
      transparent 20%,
      #ffffff 20%,
      #ffffff 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #ffffff 20%,
        #ffffff 80%,
        transparent 80%,
        transparent
      )
      15px 15px,
    linear-gradient(
        #93939310 1.2000000000000002px,
        transparent 1.2000000000000002px
      )
      0 -0.6000000000000001px,
    linear-gradient(
        90deg,
        #93939310 1.2000000000000002px,
        #ffffff28 1.2000000000000002px
      ) -0.6000000000000001px 0;
  background-size: 30px 30px, 30px 30px, 15px 15px, 15px 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1.title {
  background-color: black;
  color: white;
  width: 321px;
}
footer {
}
